<%- include('partials/head')%>
    
        <%- include('partials/navbar') %>
        <h1>Your random number is: <%= rand //evaluate, and embed %></h1>
        <!-- use the javascript without the equal sign to evaluate some
        conditionals-->
        <% if (rand % 2 === 0) { %>
        <h2>This is an EVEN number!</h2>
        <% } else {%>
        <h2>This is an ODD number!</h2>
        <%} %>
        <h3><%= rand % 2 === 0 ? 'EVEN': 'ODD' %></h3>
<%- include('partials/footer') %>
